body {
  margin: 0;
  font-family: sans-serif;
  background: #f4f4f4;
}

.app {
  padding: 16px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
}

.info {
  position: relative;
  margin-top: 12px;
  padding: 12px;
  background: #eef;
  border-radius: 8px;
}

button {
  margin-top: 16px;
  padding: 12px;
  width: 100%;
}

.tab-buttons {
  display: flex;
  flex-direction: row;
  gap: 2px;
  margin-top: 16px;
  width: 75%;
}

.tab {
  padding: 8px 14px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-bottom: none;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background: #e9e9e9;
  font-size: 14px;
}

.tab.active {
  background: #eef;
  border-color: #aaa;
  font-weight: bold;
  position: relative;
  top: 1px;
  z-index: 2;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #666;
  width: 32px;
  height: 32px;
  line-height: 28px;
  text-align: center;
  border-radius: 6px;
}

.close-button:hover {
  font-weight: bold;
}

.checkboxes {
  margin-top: 32px;
  gap: 12px;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  font-weight: bold;
}