
.progress {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 24px;
  margin-bottom: 32px;
}


/* Circle */
.progress__step {
  position: relative;
  z-index: 1;

  width: 18px;
  height: 28px;

  border-radius: 50%;
  border: 2px solid #d1d5db;

  background: white;
  color: #6b7280;

  font-weight: 600;
  font-size: 15px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: all 0.2s ease;
}


/* Hover effect (no button look) */
.progress__step:hover:not(:disabled) {
  /* transform: scale(1.15); */
  font-weight: 700;
}

/* completed */
.progress__step.complete {
  background: #4f46e5;
  border-color: #4f46e5;
  color: white;
}


/* active */
.progress__step.active {
  border-color: #4f46e5;
  color: #4f46e5;
}


/* disable future questions */
.progress__step:disabled {
  cursor: default;
  opacity: 0.5;
}

.progress::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 4px;
  background: #e5e7eb; /* light gray */
  transform: translateY(-50%);
  z-index: 0;
}
